html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #320623;
}

.logo {
  width: 50%;
  padding: 0em;
}

.menu-icon {
  width: 20%;
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}

header {
  background-color: #320623;
  padding: 0em;
  margin: 0em;
  overflow: hidden;
}

.banner {
  width: 100%;
  opacity: 0.4;
  position: absolute;
}

.smoked-meat {
  width: 100%;
  position: relative;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 8px #000;
  font-size: 19px;
  color: #FEFAD4;
  position: relative;
  left: 15px;
  top: 90px;
}
